@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

html {
  padding-left: calc(100vw - 100%);
  padding-right: 0 !important;
  color: #ffffff;
  background-color: rgb(18, 18, 18);
}

.nameText {
  font-family: "Nanum Pen Script", cursive;
  font-weight: 800;
  font-style: normal;
  font-size: 28px;
}
